.dashboard-container {
	display: flex; 
	height: 600px; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
	background-color: #7e8c95;
	transition: background-color 0.55s;
	will-change: background-color;
}

/*Container for drop down selectors, text, images and data vizualizations*/
.viz-container {
	width: 75%;
	margin: 5px;	
	display: flex;
	flex-flow: column wrap; 
	align-items: center;
	justify-content: center;	
}

/*Section below contains styling for divs within each section of the dashboard*/
/*Main div for politics, economics, social and digital citizenship*/
.others-parent {
	height: 500px;
	width: 95%;
	margin: 5px;
	display: flex;
	flex-flow: row nowrap; 
	align-items: center;
	justify-content: center;
	text-align: center; 
	background-color: white;
}

/*Survey & Summary Sections parent div*/
.survey-summary-parent {
	height: 500px;
	width: 95%;
	display: flex;
	flex-flow: row nowrap; 
	align-items: center;
	justify-content: center;
	text-align: center; 
	background-color: white;
}

/*Survey & Summary Sections child level 1 divs*/
.survey-summary-child-1-arrow {
	width: 5%;
	margin: 0;
}

.next, .prev {
	cursor: pointer;
	border-radius: 3px 0 0 3px;
	transition: 0.6s ease;
	color: black;
	font-weight: bold;
	font-size: 30px;
	padding: 25%;
}

.prev {
	border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white; 
}


.survey-summary-child-1-1 {
	width: 95%;
	margin: 0;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;	
}

.survey-summary-child-1-charts {
	width: 95%;
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;	
}

/*Survey & Summary Sections child level 2 divs*/
.survey-child-2-1 {
	width: 100%;
}

.survey-child-2-2 {
	width: 90%;
	display: flex;
	flex-flow: row nowrap; 
	align-items: center;
	justify-content: center;
}

.survey-child-2-charts-1 {
	height: 230px;
	width: 45%;
	margin: 5px;
}

.survey-child-2-charts-2 {
	height: 230px;
	width: 45%;
	margin: 5px;
}

.survey-child-2-charts-3 {
	height: 230px;
	width: 45%;
	margin: 5px;
}

.survey-child-2-charts-4 {
	height: 230px;
	width: 45%;
	margin: 5px;
}

.summary-child-2-charts-1 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

.summary-child-2-charts-2 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

.summary-child-2-charts-3 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

.summary-child-2-charts-4 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

.summary-child-2-charts-5 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

.summary-child-2-charts-6 {
	height: 230px;
	width: 30%;
	margin: 2px;
}

/*Survey Section child level 3 divs*/
.survey-child-3-1 {
	width: 40%;
	margin: 10px;
}

.survey-child-3-2 {
	width: 50%;
	margin: 20px;
}

/*For responsive images*/
.responsive-img {
	max-width: 100%;
	height: auto;
}

/*divs to contain drop down selectors*/
/*parent div*/
.select-parent {
	height: 20px;
	width: 100%;
	margin-bottom: 10px;
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
	text-align: center; 
}

/*child divs*/
.select-child-city {
	width: 50%;
}

.select-child-variable {
	width: 50%;
}

/*Child div for city selector without variable selector*/
.select-child-city-only {
	width: 100%;
}

/*CSS for nav menu div, menu items and links*/
.menu {
	width: 20%; 
	margin: 5px;	
	display: flex;
	flex-flow: column wrap; 
	align-items: center;
	justify-content: center;
}

.menu__item {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: #f3f3f3;
	margin: 5px;
	animation-name: close;
	animation-duration: 0s;
	will-change: width background-color;
	transition: background 0.55s;
	vertical-align: top;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px rgba(0,0,0, 0.1);
}

.menu__item--animate {
	animation-duration: 0.5s;
}

.menu__item--active {
	width: 190px;
	animation-name: open;
}

@keyframes open {
	0% {width: 60px;}
	40% {width: 210px;}
	80% {width: 190px;}
	100% {width: 190px;}
}

@keyframes close {
	0% {width: 190px;}
	40% {width: 40px;}
	80% {width: 60px;}
	100% {width: 60px;}
}

.menu__item--active.menu__item--grey { background: #9aa5ac; }
.menu__item--active.menu__item--yellow { background: #fabe2b; }
.menu__item--active.menu__item--red { background: #f15b28; }
.menu__item--active.menu__item--green { background: #7ebe42; }
.menu__item--active.menu__item--purple { background: #c152da; }

.menu__item svg {
	fill: #a6a6a6;
	width: 35px;
	height: 35px;
	transtiion: fill 0.55s;
	will-change: fill;
}

.menu__item--active svg {
	fill: #fffdfe;
}

a {
	outline: none;
	text-decoration: none;
	color: black;
}

a:visited {
	outline: none;
	text-decoration: none;
	color: black;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: black;
}

a:hover {
	outline: none;
	text-decoration: none;
	color: black;
}

a:active {
	outline: none;
	text-decoration: none;
	color: black;
}

/*Text styling*/
h1 {
	color: black;
	font-family: Arial;
	font-weight: bold;
	font-size: 34px;
	padding: 6px;
	margin: 0;
}

h3 {
	color: black;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
}

p {
	color: black;
	font-family: Arial;
	font-size: 14px;
	padding: 3px;
	margin: 10px;
	line-height: 200%;
}