.dashboard-container {
	display: flex; 
	height: 600px; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
	background-color: #7e8c95;
	transition: background-color 0.55s;
	will-change: background-color;
}

/*Container for drop down selectors and data vizualizations*/
.viz-container {
	width: 75%;
	margin: 5px;	
	display: flex;
	flex-flow: column wrap; 
	align-items: center;
	justify-content: center;	
}

/*Div for charts and text*/
.viz-div {
	height: 540px;
	width: 100%;
	text-align: center;
	background-color: white; 
}

/*div to contain drop down selector*/
.selector-div {
	height: 20px;
	width: 100%;
	margin-bottom: 10px;
	display: flex; 
	flex-flow: row nowrap; 
	justify-content: center; 
	align-items: center; 
}

.selector-div > div {
	margin: 10px; 
}

/*CSS for nav menu div, menu items and links*/
.menu {
	width: 20%; 
	margin: 5px;	
	display: flex;
	flex-flow: column wrap; 
	align-items: center;
	justify-content: center;
}

.menu__item {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: #f3f3f3;
	margin: 5px;
	animation-name: close;
	animation-duration: 0s;
	will-change: width background-color;
	transition: background 0.55s;
	vertical-align: top;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 1px rgba(0,0,0, 0.1);
}

.menu__item--animate {
	animation-duration: 0.5s;
}

.menu__item--active {
	width: 190px;
	animation-name: open;
}

@keyframes open {
	0% {width: 60px;}
	40% {width: 210px;}
	80% {width: 190px;}
	100% {width: 190px;}
}

@keyframes close {
	0% {width: 190px;}
	40% {width: 40px;}
	80% {width: 60px;}
	100% {width: 60px;}
}

.menu__item--active.menu__item--grey { background: #9aa5ac; }
.menu__item--active.menu__item--yellow { background: #fabe2b; }
.menu__item--active.menu__item--red { background: #f15b28; }
.menu__item--active.menu__item--green { background: #7ebe42; }
.menu__item--active.menu__item--purple { background: #c152da; }

.menu__item svg {
	fill: #a6a6a6;
	width: 35px;
	height: 35px;
	transtiion: fill 0.55s;
	will-change: fill;
}

.menu__item--active svg {
	fill: #fffdfe;
}

h1 {
	color: black;
	font-family: Arial;
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
}

a {
	outline: none;
	text-decoration: none;
	color: black;
}

a:visited {
	outline: none;
	text-decoration: none;
	color: black;
}

a:focus {
	outline: none;
	text-decoration: none;
	color: black;
}

a:hover {
	outline: none;
	text-decoration: none;
	color: black;
}

a:active {
	outline: none;
	text-decoration: none;
	color: black;
}